{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Sumedh_Karande">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Instagram-Login</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'instagram/style.css' %}" />
	</head>

	<!-- NAVBAR -->

	<nav class="navbar navbar-inverse navbar-default">
      	<div class="container">
        	<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="color: white" href="/">Instagram</a>
			</div>
			<div class="collapse navbar-collapse" id="mynav"> 
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item">
					<a class="nav-link" style="color: white" href="/instagram/signup">Sign-up</a>
					</li>
				</ul>
			</div> 
    	</div>
	</nav>

	 <!-- BODY OF THE LOGIN PAGE  -->

	<div class="container-fluid bg-3 text-center">
		<h1 class="align-center">Welcome back to Instagram</h1><br />
		<h2 class="align-center">Login</h2>
	</div>
	<br />
	{% if error %}

	<div style="width:250px; margin:0 auto;">
		<b style="font-size:16px;">{{error}}</b>
	</div>

	{% endif%}
	<div style="width:250px; margin:0 auto;">
		<form class="align-center" action="{% url 'instagram:login' %}" method="post" style="font-size:15px;">
			{% csrf_token %}
			<p>
				<label > Your username </label>
				<input type = "text" name = "username" />
			</p>
			<p>
				<label> Your password </label>
				<input type = "password" name = "password" />
			</p>
			<input class="btn btn-primary" type="submit" value="Login" />
		</form>
		<br />
		<li><a href="{% url 'instagram:signup' %}">Click here to create a new account</a></li>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>